#logo {
  height: 80px;
}

.navbar-list {
  background: white;
  min-height: 50px;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 99;
  list-style: none;
  white-space: nowrap;
}

.auth0-buttons {
  float: right;
}
.btn {
  background-color: #6c27f4;
}
